====> Welcome to the IBM Open Client <====

IBM's internal systems must only be used for conducting IBM's business or for
purposes authorized by IBM management.  Use is subject to audit at any time by
IBM management.

IBM Employees must comply with corporate standard ITCS300, "Information      
Technology Security".  IBM Employees must adhere to the security requirements
established for the IBM resources they own, manage or use. Compliance is
mandatory and subject to audit.  For additional information on these guidelines,
visit the Network and Computing Security Services (NCSS) webpage at
https://ibm.biz/BdxuM4

HELP: https://w3-connections.ibm.com/communities/community/openclient-rhel
DOCUMENTATION: See /usr/share/doc.  Also man pages, info pages, HOW-TO, and:
               On the web - http://www.tldp.org
OPEN SOURCE:   IBM Employees must read and understand the Open Source Guidelines
               available at https://ibm.biz/BdxuKN before using
               this server.

====> Text of this message is in /etc/motd <====